asgiref==3.5.2
astmonkey==0.3.6
astor==0.8.1
atomicwrites==1.4.1
attrs==22.1.0
bytecode==0.13.0
colorama==0.4.5
commonmark==0.9.1
contourpy==1.0.5
cycler==0.11.0
dj-database-url==1.0.0
Django==4.1.1
django-heroku==0.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
fonttools==4.37.3
gunicorn==20.1.0
iniconfig==1.1.1
jellyfish==0.9.0
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.0
MutPy-Pynguin==0.7.1
mypy-extensions==0.4.3
networkx==2.8.6
numpy==1.23.3
MarkupSafe==2.1.1
MutPy-Pynguin==0.7.1
mypy-extensions==0.4.3
networkx==2.8.6
ordered-set==4.1.0
packaging==21.3
Pillow==9.2.0
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pydot==1.4.2
Pygments==2.13.0
PyJWT==2.5.0
pyparsing==3.0.9
pytest==6.2.5
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
qrcode==7.3.1
rich==11.2.0
simple-parsing==0.0.17
six==1.16.0
sqlparse==0.4.3
termcolor==2.0.1
toml==0.10.2
typing-inspect==0.8.0
typing_extensions==4.3.0
tzdata==2022.4
whitenoise==6.2.0
