<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/textos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vistaPlanta.css' %}" />

    <title>Planta</title>
  </head>

  <body>
    <center>
      <div class="vista">
        <div>
          <div class="titulo" id="nombre">{{ object.nombre_tradicional }}</div>
        </div>

        <div class="espaciochico"></div>
        <div class="espaciochico"></div>

        <div>
          <div class="cuadroImagen">
            <img class="imagenP" src="data:image/jpeg;base64,{{imagen}}" />
          </div>
        </div>

        <div class="espaciochico"></div>
        <div class="espaciochico"></div>

        <div>
          <div class="subNombre" id="subNombre">
            {{ object.nombre_cientifico }}
          </div>
          <div class="espaciochico"></div>
          <div class="descripcion" style="text-align:justify; padding: 10px;">{{ object.descripcion }}</div>
        </div>
        <div class="espaciochico"></div>

        <div>
          <div class="subNombre" id="origen">Temporada</div>
          <div class="espaciochico"></div>
          <div class="espaciochico"></div>
          {{ object.temporada }}
          <div class="espaciochico"></div>
        </div>

        <div>
          <div class="subNombre" id="origen">Origen</div>
          <div class="espaciochico"></div>
          <div class="espaciochico"></div>
          {{ object.origen }}
          <div class="espaciochico"></div>
        </div>
        

        <div>
          <div class="espaciochico"></div>
          <div class="subNombre" id="usos">Usos</div>
          <div class="lista">
            <div style="float: left; padding-left: 10vw; width: 70vw; padding-right: 20vw;">
              <ul style="display: inline-block; text-align: left">
                {% for uso in usos %}
                <li>{{uso}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        
        <div>
          <div class="espaciochico"></div>
          <div class="subNombre" id="cuidados">Cuidados</div>
          <div class="espaciochico"></div>
          <div class="lista">
            <div style="padding-left: 10vw; width: 70vw; padding-right: 20vw;">
              <ul style="display: inline-block; text-align: left">
                <li>{{ object.riego }}</li>
                <li>{{ object.fertilizante }}</li>
                <li>{{ object.iluminacion }}</li>
              </ul>
            </div>
          </div>
        </div>
          

        <div style="padding: 5px; width: 25vw">
          <img id="semillines" width="100%" height="auto" src="" />
        </div>

        <script>
          let x = Math.round(Math.random() * (4 - 1) + 1);
          if (x == 1) {
            document.getElementById("semillines").src =
              "{% static 'images/semillin1.png' %}";
          } else if (x == 2) {
            document.getElementById("semillines").src =
              "{% static 'images/semillin2.png' %}";
          } else if (x == 3) {
            document.getElementById("semillines").src =
              "{% static 'images/semillin3.png' %}";
          } else {
            document.getElementById("semillines").src =
              "{% static 'images/semillin4.png' %}";
          }
        </script>
        <br />
      </div>
    </center>
  </body>
</html>
