<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/textos.css' %}">
    <link rel="stylesheet" href="{% static 'css/vistaPlanta.css' %}">
    <title>Planta</title>

</head>

<body>
    <center><div class="vista">
        
        <div>
            <div class = "titulo" id = "nombre"> 
                {{ object.nombre_tradicional }}
            </div>
        </div>
        
        <div class = "espaciochico"></div>
        <div class = "espaciochico"></div>

        <div>
            <div class="cuadroImagen">
                <img class = "imagenP" src = "data:image/jpeg;base64,{{imagen}}">
            </div>
        </div>

        <div class = "espaciochico"></div><div class = "espaciochico"></div>
        
        <div>
            <div class = "subNombre" id = "subNombre">
                {{ object.nombre_cientifico }}
            </div>
            <div class = "espaciochico"></div>
            <div class="descripcion">
                {{ object.descripcion }}
            </div>
        </div>
        <div class = "espaciochico"></div>

        <div>
            <div class = "subNombre" id = "origen">Origen</div>
            <div class = "espaciochico"></div>
            {{ object.origen }}
        </div>
        <div class = "espaciochico"></div>
           

        <div>
            <div class = "subNombre" id = "usos">Usos</div>
            <div class = "espaciochico"></div>
            <div class="lista" >
            <ul>
               {% for uso in usos %}
               <li>{{uso}}</li>
               {% endfor %}
            </ul>    
            </div>  
        </div>
        <div class = "espaciochico"></div>
           
        <div>
            <div class = "subNombre" id = "cuidados">Cuidados</div>
            <div class = "espaciochico"></div>
            <ul>
                <li>{{ object.riego }}</li>
                <li>{{ object.fertilizante }}</li>
                <li>{{ object.iluminacion }}</li>
            </ul>
        </div>
        <br>

    </div></center>


</body>
</html>